body{
    background-color:rgb(169, 243, 169);
    margin-bottom: 20px;
    padding:10px;
    border:solid rgb(80, 80, 236);
    margin-top: 0px;
    border-radius: 10px;
    font-family: arial;
}

.top-row{
display:flex;
flex-direction:row;
justify-content: space-between;
align-items:center;
margin-top: 0px;
height:120px;
flex-wrap: wrap;
}
@media(max-width:799px){
    .top-row{
        height:40px;
    }
}

.name{
    background-color:yellow ;
    font-family: Arial;
    font-size: 100px;
    margin-top:0px;
    display:flex;
    flex:1;
    white-space: nowrap;
}
@media(max-width:799px){
    .name{
        margin-top: 0px;
        font-size: 35px;
    }
}
.navigation{
    background-color: rgb(171, 114, 224);
    display:flex;
    flex-direction:column;
    width:100px;
    position:fixed;
    right:10px;
    top:10px;
    margin: 0px;
}
@media(max-width:799){
    .navigation{
        width:20px;
        margin-top: 0px;
    }
}

.discription{
    color:rgb(95, 95, 118);
    font-size: 45px;
    background:transparent;
    font-size:45px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0;
    flex-wrap: wrap;
}  
button{
    border:none;
    padding:6px;
    cursor:pointer;
} 
.homeButton{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.contactsButton{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
@media(max-width:799px){
    .navigation button {
        padding:0px; /* reduce padding */
        font-size: 9px; /* reduce text size */
        width:auto; /* adjust button width */
    }
 }
button:hover{
 background-color: rgb(126, 113, 113);
}
.contents{
    display:flex;
    flex-direction:row;
    flex:1;
    max-height: 500px;
    flex-wrap: wrap;
}
.image{
height:300px;
width:auto;
}
.projectworks{
    background-color: rgb(193, 193, 235);
}
.projectabout{
    background-color: rgb(246, 204, 211);
}
.projectcontacts{
    background-color: rgb(161, 226, 226);
}
p{
    font-size:30px;
}
@media(max-width:799px)
{
   p{
    font-size:17px;
   } 
}